body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(14, 17, 21);
  padding-inline: 140px;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: rgb(30, 34, 41);
  color: rgb(209, 206, 199);
  transition: background 0.2s;
}

.button:hover,
.small-button:hover {
  background: rgba(30, 34, 41, 0.9);
}

.small-button {
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background: rgb(30, 34, 41);
  color: rgb(209, 206, 199);
  transition: background 0.2s;
}

.button.orange {
  background: rgb(249, 156, 16);
  color: rgb(14, 17, 21);
}

.button.orange:hover {
  background: rgba(249, 156, 16, 0.9);
}

.green {
  color: rgb(33, 196, 93) !important;
}

.container-inline {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container-inline > .card {
  flex: 1;
}

.container-inline > .quick-actions {
  flex: 0.338;
}

.container-inline-close {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

form > .container-inline > div {
  flex: 1;
}

form button {
  margin-top: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.card {
  background-color: rgb(21, 24, 30);
  border-color: rgb(39, 44, 52);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  color: rgb(237, 235, 233);
  margin: 0;
}

.card-text {
  color: rgb(237, 235, 233);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.card-detail {
  color: rgb(115, 123, 140);
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.card-icon {
  color: rgb(249, 156, 16);
  background-color: rgb(30, 34, 41);
  border-radius: 8px;
  font-size: 16px;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
}

.red {
  color: rgb(220, 40, 40);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal {
  background-color: rgb(21, 24, 30);
  border-color: rgb(39, 44, 52);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin: 100px auto;
  max-width: 600px;
  position: relative;
}

.modal .title {
  margin: 0 0 20px 0;
}

.title {
  color: rgb(237, 235, 233);
  margin: 0;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: "pointer";
  color: rgb(237, 235, 233);
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: rgb(237, 235, 233);
  font-size: 14px;
}

.form-input {
  width: stretch;
  padding: 8px;
  border-radius: 8px;
  border-color: rgb(39, 44, 52);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  background: rgb(30, 34, 41);
  color: rgb(209, 206, 199);
}